@using AdvaTask.DTO.Employee
@model Employee

<h2>Edit Employee</h2>

<form asp-action="Edit" asp-route-id="@Model.Id">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DepartmentId"></label>
        <input asp-for="DepartmentId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ManagerId"></label>
        <input asp-for="ManagerId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<a asp-action="Index">Back to List</a>
